/*# sourceMappingURL=style.css.map */
/* colores base */
:root {
  --color-bg: #188bcec2;
  --color-primary: #00e5ff;
  --color-secondary: #ffffff;
  --color-gray: #b5b5b5;

  --font-main: 'Inter', sans-serif;
}

/* ============================
      ESTILOS GENERALES
============================= */
body {
  background: radial-gradient(circle at top right, #010c22 50%);
  font-family: var(--font-main);
  color: var(--color-secondary);
  margin: 0;
  padding: 0;
}

/* ============================
      NAV HEADER
============================= */
.nav-eko {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: #000;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #111;
  z-index: 1000;
}

.nav-eko > .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* links */
a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

/* ============================
      HEADER TEMPORAL
============================= */
header nav a {
  margin-right: 15px;
  font-weight: 600;
}

/* ============================
      MAIN
============================= */
main {
  padding: 20px;
}


.card-musica {
  background: #1a1a1a;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}
.card-musica:hover {
  transform: scale(1.03);
}
.card-musica img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-musica .info {
  padding: 15px;
}
.card-musica .info h3 {
  font-size: 18px;
  margin: 0;
}
.card-musica .info p {
  font-size: 14px;
  opacity: 0.8;
}


/* ============================
      BOTONES
============================= */

.filtros-musica {
  display: flex;
  justify-content: center;
  gap: 1rem; // distancia entre botones
  margin: 20px 0;

  .filtro-item {
    background: #f8f9fa;
    color: #111;
    padding: 10px 25px;
    border-radius: 50px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: #e7e7e7;
      transform: scale(1.03);
    }
  }
}

/* ============================
      SECCIONES DEL MENU
============================= */
.seccion-titulo {
  color: white;
  font-size: 1.8rem;
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 600;
  border-left: 4px solid #00aced; 
  padding-left: 10px;
}

/* --- REPRODUCTOR --- */
.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #111;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 50%;
  gap: 20px;
  border-top: 1px solid #222;
  z-index: 9999;
  justify-content: space-between;
}

/*.audio-player.hidden {

  display: none;
}
*/
.player-cover {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}

.player-info {
  flex-grow: 1;

  h4 {
    margin: 0;
    font-size: 16px;
  }

  p {
    margin: 0;
    font-size: 14px;
    opacity: 0.7;
  }
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 10px;

  input[type="range"] {
    width: 200px;
  }

  button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}